.arrows {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.slide-prev,
.slide-next {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    &:hover {
        opacity: .64;
    }
    &[disabled] {
        opacity: .64;
        cursor: default;
        pointer-events: none;
    }
    > svg {
        width: 2rem;
        height: 2rem;
    }
}